.inputbox {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.validatebox-invalid {
  border-color: #ffa8a8;
  background-color: #fff;
  color: #404040;
}
