.progressbar {
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
  position: relative;
}
.progressbar-text {
  text-align: center;
  position: absolute;
}
.progressbar-value {
  position: relative;
  overflow: hidden;
  width: 0;
  -moz-border-radius: 0px 0 0 0px;
  -webkit-border-radius: 0px 0 0 0px;
  border-radius: 0px 0 0 0px;
}
.progressbar {
  border-color: #ddd;
}
.progressbar-text {
  color: #444;
  font-size: 14px;
}
.progressbar-value,
.progressbar-value .progressbar-text {
  background-color: #CCE6FF;
  color: #000;
}
