<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itstack.demo.infrastructure.dao.RuleTreeNodeLineDao">

    <resultMap id="RuleTreeNodeLineResultMap" type="org.itstack.demo.infrastructure.po.RuleTreeNodeLine">
        <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="treeId" column="treeId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="nodeIdFrom" column="nodeIdFrom" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="nodeIdTo" column="nodeIdTo" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="ruleLimitType" column="ruleLimitType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="ruleLimitValue" column="ruleLimitValue" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryRuleTreeNodeLineList" resultMap="RuleTreeNodeLineResultMap">
        SELECT id, treeId, nodeIdFrom, nodeIdTo, ruleLimitType, ruleLimitValue
        FROM rule_tree_node_line
        where treeId = #{treeId} and nodeIdFrom = #{nodeIdFrom}
    </select>

    <select id="queryTreeNodeLineCount" resultType="java.lang.Integer">
        select count(id) from rule_tree_node_line where treeId = #{treeId}
    </select>

</mapper>
