<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itstack.demo.infrastructure.dao.RuleTreeNodeDao">

    <resultMap id="RuleTreeNodeResultMap" type="org.itstack.demo.infrastructure.po.RuleTreeNode">
        <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="treeId" column="treeId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="nodeType" column="nodeType" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="nodeValue" column="nodeValue" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ruleKey" column="ruleKey" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="ruleDesc" column="ruleDesc" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryRuleTreeNodeList" resultMap="RuleTreeNodeResultMap">
        SELECT id, treeId, nodeType, nodeValue, ruleKey, ruleDesc
        FROM rule_tree_node
        where treeId = #{treeId}
    </select>

    <select id="queryTreeNodeCount" resultType="java.lang.Integer">
        select count(id) from rule_tree_node where treeId = #{treeId}
    </select>

    <select id="queryTreeRulePoint" resultMap="RuleTreeNodeResultMap">
        SELECT distinct (ruleKey), ruleDesc
        FROM rule_tree_node
        where treeId = #{treeId} and ruleKey is not null
    </select>

</mapper>
