.progressbar {
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
  position: relative;
}
.progressbar-text {
  text-align: center;
  position: absolute;
}
.progressbar-value {
  position: relative;
  overflow: hidden;
  width: 0;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.progressbar {
  border-color: #ddd;
}
.progressbar-text {
  color: #404040;
  font-size: 14px;
}
.progressbar-value,
.progressbar-value .progressbar-text {
  background-color: #00bbee;
  color: #fff;
}
