.radiobutton {
  position: relative;
  border: 2px solid #00bbee;
  border-radius: 50%;
}
.radiobutton-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00bbee;
  border-radius: 50%;
  transform: scale(.6);
}
.radiobutton-disabled {
  opacity: 0.6;
}
.radiobutton-value {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  left: -999px;
}
